* {
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    list-style: none;
}

h1 {
    font-size: 22px;
    color: #4d4d4d;
    font-family: 'Arimo', Verdana, sans-serif;
    margin-top: 60px;
    margin-bottom: 40px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}

.directory {
    display: flex;
    flex-direction: column;
}

.directory__item {
    border-radius: 10px;
    border: 2px solid #dfdfdf;
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.avatar {
    margin-left: 25px;
    margin-bottom: 15px;
    border-radius: 50%;
    height: 130px;
}

.employee-data {
    font-family: 'Open Sans', sans-serif;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: #404a51;
    margin: 5px 0;
    text-transform: capitalize;
}

.email, .location {
    font-size: 14px;
    font-weight: regular;
    color: #888e92;
    margin: 5px 0;
}

.location {
    text-transform: capitalize;
}

/*----------------------------------------------
MODAL WINDOW
-----------------------------------------------*/

.overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    z-index: 1;
}

/*----------------------------------------------
MEDIA QUERIES
-----------------------------------------------*/

@media (min-width: 768px) {
    .directory {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .directory__item {
        width: 48%;
        align-items: center;
    }
    .employee-data {
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
}

@media (min-width: 1100px) {
    .directory__item {
        width: 31%;
        height: 185px;
        flex-direction: row;
    }
    .avatar {
        margin-bottom: 0;
    }
    .employee-data {
        text-align: start;
    }
}
