* {
    box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

ul {
    padding-left: 0;
    list-style: none;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 22px;
    color: #4d4d4d;
    font-family: 'Arimo', Verdana, sans-serif;
    margin-top: 60px;
    margin-bottom: 40px;
}

input {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  height: 50px;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
}

input:focus {
  outline: none;
  border: 1px solid #46698b;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 25px;
}

.directory {
    display: flex;
    flex-direction: column;
}

.directory__item {
    border-radius: 10px;
    border: 2px solid #dfdfdf;
    width: 100%;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    cursor:pointer;
    transition: .2s;
}

.directory__item:hover {
    box-shadow: 0px 3px 7px -1px rgba(0,0,0,0.34);
    transition: .4s;
}

.avatar {
    margin-bottom: 15px;
    border-radius: 50%;
    height: 130px;
}

.employee-basic-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.employee-detail-info {
    margin-top: 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
}

.employee-additional-info {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.employee-name {
    font-size: 18px;
    font-weight: bold;
    color: #404a51;
    margin: 5px 0;
}

.employee-data {
    font-size: 14px;
    font-weight: regular;
    color: #888e92;
    margin: 5px 0;
}

.capitalize {
    text-transform: capitalize;
}

/*----------------------------------------------
MODAL WINDOW
-----------------------------------------------*/

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #dfdfdf;
}

.icon-close {
  height: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor:pointer;
}

.icon-back {
    height: 15px;
    position: absolute;
    top: 50%;
    left: 12px;
    cursor:pointer;
}

.icon-next {
    height: 15px;
    position: absolute;
    top: 50%;
    right: 12px;
    cursor:pointer;
}

.hidden {
  display: none;
}

/*----------------------------------------------
MEDIA QUERIES
-----------------------------------------------*/

@media (min-width: 768px) {
    .directory {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .directory__item {
        width: 48%;
        align-items: center;
    }
    .employee-basic-info {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
}

@media (min-width: 1100px) {
    .directory__item {
        width: 31%;
        height: 185px;
        flex-direction: row;
    }
    .avatar {
        margin-bottom: 0;
    }
    .employee-basic-info {
        margin-left: 25px;
        text-align: start;
    }
}
